{% extends 'FapMaster/base.html' %}

{% block title_FapMaster %}
  撸大湿
{% endblock %}

{% load static %}

{% block css_FapMaster %}
  <link rel="stylesheet" href="{% static 'FapMaster/css/homepage.css' %}" />
{% endblock %}

{% block content_FapMaster %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        {% include 'header.html' %}
      </div>
      <div class="col-12 col-xl-6 pt-3">
        {% include 'FapMaster/homepage/rank/rank.html' %}
      </div>
      <div class="col-12 col-xl-6 pt-3">
        {% include 'FapMaster/homepage/panel/panel.html' %}
      </div>
    </div>
  </div>
{% endblock %}

{% block js_FapMaster %}
<script>
  api_add_log = '{% url "FapMaster:api_add_log" %}'
</script>
<script src="{% static 'FapMaster/js/homepage.js' %}"></script>
<script src="{% static 'FapMaster/js/log.js' %}"></script>
{% endblock js_FapMaster %}