{% extends 'Main/base.html' %}

{% block title_Main %}主页{% endblock title_Main %}

{% block content_Main %}
<div class="row">
    <h1 class="col-12 text-center">拾心咖啡屋</h1>
    <div class="col-12">
        <button class="btn btn-primary">博客</button>
        <button class="btn btn-success">实体库</button>
        <button class="btn btn-danger">生命书</button>
        <button class="btn btn-warning">撸大师</button>
    </div>
</div>
<div class="fixed-bottom border-top text-center bg-light">
    <div class="text-secondary">
        <small>版本：v0.2 develope</small>
        <small class="ms-3">
            备案号：<a href="https://beian.miit.gov.cn/">渝ICP备19014188号-1</a>
        </small>
    </div>
</div>
{% endblock content_Main %}