<button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modal_all_log">所有记录</button>

<div class="modal fade" id="modal_all_log" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-fullscreen-xl-down modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-primary">所有记录</h5>
        <button type="button" class="close" data-bs-dismiss="modal"><span>×</span></button>
      </div>
      <div class="modal-body">
        <div class="border text-center text-secondary">筛选器（还没做）</div>
        {% if logs %}
        <table class="table">
          <thead>
            <tr>
              <th class="nowrap">开始时间</th>
              <th class="nowrap">结束时间</th>
              <th class="nowrap">持续时间</th>
              <th class="nowrap">备注</th>
            </tr>
          </thead>
          <tbody>
            {% for log in logs %}
              <tr>
                <td class="nowrap">{{ log.start_time|date:"Y-m-d" }}<br>{{ log.start_time|time:"H:i:s" }}</td>
                <td class="nowrap">{{ log.end_time|date:"Y-m-d" }}<br>{{ log.end_time|time:"H:i:s" }}</td>
                <td class="nowrap">{{ log.duration }}</td>
                <td>{{ log.comments }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {% else %}
        <p>暂无打卡</p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <div class="text-center text-secondary">翻页器（还没做）</div>
      </div>
    </div>
  </div>
</div>
