{% load static %}
<div class="row">
  <div class="col-3">
    <a href="https://synercoya.notion.site/dd380ebce5654f959f36633369490b5a">
      <img
        src="{% static 'Main/img/todo_app.png' %}"
        class="card-img-top img-fluid border rounded-5"
        alt="任务池"
      />
      <p class="text-center fs-5 mt-2 text-secondary">任务池</p>
    </a>
  </div>

  <div class="col-3">
    <a href="{% url 'FapMaster:homepage' %}">
      <img
        src="{% static 'FapMaster/img/icon.jpg' %}"
        class="card-img-top img-fluid border rounded-5"
        alt="撸大湿"
      />
      <p class="text-center fs-5 mt-2 text-secondary">撸大湿</p>
    </a>
  </div>



  {% comment %}
  <div class="col-3">
    <div class="card">
      <img
        src="{% static 'Main/img/espresso.png' %}"
        class="card-img-top"
        alt="撸大湿"
      />
    </div>
    <p class="text-center fs-5 mt-2">撸大湿</p>
  </div>
  <div class="col-3">
    <div class="card">
      <img
        src="{% static 'Main/img/espresso.png' %}"
        class="card-img-top"
        alt="撸大湿"
      />
    </div>
    <p class="text-center fs-5 mt-2">撸大湿</p>
  </div>
  <div class="col-3">
    <div class="card">
      <img
        src="{% static 'Main/img/espresso.png' %}"
        class="card-img-top"
        alt="撸大湿"
      />
    </div>
    <p class="text-center fs-5 mt-2">撸大湿</p>
  </div>
  {% endcomment %}
</div>
