{% extends 'Main/base.html' %}

{% block title_Main %}主页{% endblock title_Main %}
{% block content_Main %}
{% include "header.html" %}
<div class="container">
    <div class="row">
        <div class="col-12 col-xl-6 pt-3">
            {% include "Main/homepage/apps.html" %}
        </div>
        <div class="col-12 col-xl-6 pt-3">
            {% include "Main/homepage/blog.html" %}
        </div>
    </div>
</div>

<!-- 备案号 -->
{% include "Main/homepage/beian.html" %}
{% endblock content_Main %}